@page
@model PosTechFiapWepApp.Pages.DeletadasModel
@{
}

<div class="alert alert-primary" role="alert">
    Imagens que podem ser recuperadas !
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model.Imagens)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Nome</h5>
                <p class="card-text">Imagem armazenada no Azure Storage Blobs, essa imagem foi apagada em menos de 24 horas (Soft Delete).</p>
                <a class="btn btn-primary" asp-area="" asp-page="/RecuperaImagem" asp-route-nome="@item.Nome">Recuperar</a>
            </div>
        </div>
    }
</div>
